version: '3.8'

services:
  app:
    build: .
    container_name: transporte_app
    ports:
      - "3000"  # Solo interno (no 3000:3000)
    volumes:
      - ./machines.db:/app/machines.db
      - ./server/uploads:/app/server/uploads
    env_file:
      - .env
    networks:
      - app-network
    restart: always

networks:
  app-network:
    external: true
